<!DOCTYPE html>
<html lang="lv">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./test.css">
	</head>
	
	<body>
		<div class="main-page">
            <div class="navigation">
                <img class="Logo" src="images/Wonderlab.webp" alt="logo">
                <h1> VeA SR Sistēma </h1>
                <ul class="right-nav">
                    <li>
                        <a class="atskaites" href=""> Atskaites </a>
                    </li>
                    <li>
                        <a class="profils" href=""> Profils </a>
                    </li>
                </ul>
                <label for="language"></label>
                <select name="language">
                    <option> Latvian </option>
                    <option> English </option>
                    <option> Russian </option>
                </select>
                <a href=""><img src=""></a>
            </div>

            <div class="worker-info">

            </div>

            <button></button>
            <h2> Info </h2>

            <div class="login-page">

            </div>

            <div class="footer">

            </div>

            <img>
        </div>
	</body>